body{
    color: azure;
    background-image: linear-gradient(to left,rgb(99, 43, 151),rgb(0,0,0));
    background-size: cover;

}

.header a{
    color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(99, 43, 151);
}

.header a:hover{
    color: aquamarine;
    font-size: 25px;
    background-image: linear-gradient(rgb(99, 43, 151),rgb(4, 48, 192));
}

.corpo{
    display: flex;
    align-items: center;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

ul li{
    list-style-type: none;
    padding: 4px;
    font-size: 18px;
    padding: 20px;
}

li a{
    color: rgb(251, 152, 152);
    text-decoration: none;
    font-size: x-large;
}
.elementos a:hover{
    color: white;
}
.elementos:hover{
    transform: scale(1.3);
    transition: transform 0.3 ease;
}

#container{
    height: 100vh;
}