body{
    background-image: url("https://thumbs.dreamstime.com/b/creative-dark-coding-texture-text-programming-future-concept-d-rendering-190996312.jpg");
    color:azure;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0px 15px;
    height: 100dvh;
}

header a:hover{
    color:aquamarine;
    font-size: 22px;
    background-image: linear-gradient(rgb(0, 129, 214),rgb(0,0,0));
}
header a{
    color: bisque;
    text-decoration: none;
    background-color: gray;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
}

.elementos{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.elementos img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    
}

.main{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
}

.elementos img:hover{
    transform: scale(1.2);
    transition: transfrom 0.2s ease;
    border: 2px solid white;
}

#container{
    height: 100vh;
}