/*CORPO*/

*{
    margin: 0;
}
body{
    background-color: white;
    margin: 0;
}

#container{
    height: 100dvh;
    box-sizing: border-box;
}

.corpo{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

#imagem-central img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 4px solid aquamarine;
}

main{
    height: 100%;
}

#text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

/*CABEÇALHO*/
header{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: black;
}

.search-bar{
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.search-bar ul{
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.search-bar li{
    height: 100%;
    display: inline;
    margin-right: 20px;
}

.search-bar li a{
    display: inline-block;   /* ou block se quiser controlar altura/padding */
    line-height: 2.5;           /* ajustar para o que quiser (ALTURA 2.5) */
    height: 100%;
    text-decoration: none;
    font-size: 30px;
    color: darkorange;
}

li a:hover{
    color: white;
    font-weight: 700;
}

#logo{
    background-color: aquamarine;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

#logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 40px;
    text-decoration: none;
    color: azure;
}

/*FOOTER*/
footer{
    background-color: black;
    height: 12%;
    display: GRID;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

footer a{
    height: 100%;
    width: 100px;
    text-align: center;
    display: inline-block;
    line-height: 1;
}

footer img{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    object-fit: cover;
}

footer p{
    text-decoration: none;
    font-size: 14px;
    color: darkorange;
}


.modal {                                    /*por padrão, o modal está escondido (não aparece). Também ocupa toda a tela (position: fixed, width:100%, height:100%) e tem um fundo semitransparente preto (background-color: rgba(0,0,0,0.4)), que dá o efeito de overlay escuro.*/
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
}

.modal .modal-content {                     /*define estilo do conteúdo interno: marca branca, cantos arredondados, padding, tamanho máximo (300px), etc.*/
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
}

/* Quando o modal for o alvo (target) do link */
.modal:target {
  display: flex; /* mostra */
} /*quando o elemento .modal for o alvo do fragmento da URL (ou seja, quando o navegador estiver apontando para #modal-telefone), ele passa de display: none para display: flex, o que o torna visível. E por usar display: flex com align-items: center; justify-content: center; no .modal, o conteúdo modal vai ficar centralizado vertical e horizontalmente dentro da tela.*/
