<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formatação de textos</title>
</head>
<body>
    <p><a href="/aulas" target="_self" rel="prev">Voltar</a></p>
    <h1>Principais formatações</h1>
    <h2>Negrito / Destaque</h2>
    <p>Nessa frase temos um termo em <b>negrito</b> usando a tag &lt;b&gt;</p>
    <p>Nessa frase, temos um <strong>termo em destaque</strong>usando a tag strong</p>
    <h2>Itálico / Ínfase</h2></h2>
    <p>Nessa frase temos um termo em <i>itálico</i> usando a tag &lt;i&gt;</p>
    <p>Mas podemos usar o atalho <i>ctrl shft p</i> </p>
    <p>Nesta frase usei termo em ênfase <em>usando a tag EM</em> (semántica)</p>
    <h2>textos Marcados</h2>
    <p>Podemos criar também um <mark>texto marcado</mark> usando a tag mark.</p> 
    <P>Podemos marcar um texto como <del>excluido</del> com a tag del</P>
    <p>Podemos marcar um texto como <ins>incluido</ins> com a tag ins</p>
    <h2>Textos subscritos</h2>
    <p>Para subescrever um texto"H<sub>2</sub>O" basta usar a tag sub</p>
    <h2>Textos sobrescritos</h2>
    <p>Para sobrescrever textos"x<sup>20</sup>+2" utilizo a tag sup </p>
</body>
</html>