<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listas</title>
    </head>
    <body>
        <p><a href="/aulas" target="_self" rel="prev">Voltar</a></p>
        
        <h1>Trabalhando com listas</h1>
        <h2>Listas ordenadas</h2>
    <p>Podemos criar uma lista ordenada utilizando a tag <mark>OL</mark> e logo após a tag <mark>LI</mark> para cada item</p> 
    <ol>
        <li>Item 1
        <li>Item 2
        <li>Item 3
    </ol>
    <p>A tag LI se tornou opcional usar seu fechamento de tag <code>"&lt;/li&gt;"</code></p>
    <p>Tem alguns tipos de lista que podemos usar no ol <br>São eles: <mark>1, A, a, i, I</mark></p>
    <p>Um exemplo usando o tipo <mark>A</mark></p>
    <ol type="A"> <!--estilo A-->
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <p>Outro detalhe, posso iniciar de onde eu quero, exemplo: inicar no nº 5, é só colocar <mark>start='5'</mark> a frente do style</p>
    <h2>Listas não ordenadas</h2>
    <p>Para listas não ordenadas usamos o <mark>UL</mark></p>
    <ul type="circle"></ul> 
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <p>Temos 3 opções de tipos de lista não ordenadas: <mark>square, circle e disc</mark></p>
    <p><sub>aula02</sub></p> <!--aula02-->
    <hr>
    <h2>Junção de listas</h2>
    <p>Linguagens de programação</p>
    <ol>
        <li>Antigas</li>
        <ol type="A">
            <li>Bash</li>
            <li>C</li>
        </ol>
        <li>Novas</li>
        <ol type="A" start="3">
            <li>Python</li>
        </ol>
    </ol>
    <p>Podemos misturar listas dentro de listas, ordenadas dentro de desordenadas e visse versa. Me lembra listas em python tbm :)</p>
    <h2>Lista de definições</h2>
    <p>Fazemos uma lista de definição usando <mark>DL</mark> para a lista, <mark>DT</mark> para a definição e <mark>DD</mark> para a descrição</p>
    <</p>
    <dl>
        <dt>HTML</dt> <!--definição-->
        <dd>Linguagem de marcação</dd> <!--Descrição-->
        <dt>CSS</dt>
        <dd>Linguagem de estilo</dd>
    </dl>
    </body>
</html>