<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parágrafos</title>
</head>
<body>
    <p><a href="/aulas" target="_self" rel="prev">Voltar</a></p>
    <h1>Parágrafos e quebra de linha</h1>
    <hr> <!-- Este <hr> é para uma linha horizontal e não possui fechamento -->
    <p>Você pode escrever um parágrafo de qualquer jeito.Basta colocar tudo no meio do par de tags &lt;p&gt; e &lt;/p&gt; <!--&lt abrevia para (menor que) em inglish | e o &gt abrevia para (maior que) em inglish -->
    </p>
    <p>Se precisar quebrar o texto em um lugar específico é apenas usar a tag &lt;br&gt; <br> tipo assim
    </p>
    <h2>Símbolos</h2>
    <p>Vamos adicionar alguns símbolos especiais</p>
     &reg;
     &copy;
     &trade;
     &euro;
     &pound;
     &yen;
     &cent;
     &dollar;
     <p>Vamos adicionar alguns emojis &#x1F609;</p>
     &#x1F60E; <!--&#x diz que o valor é em hexadécimal-->
     &#x1F609; <!--Logo apos do &#x vem o valor do emoji que peguei na emogipedia-->
     <h1>imagens</h1>
     <p>Para adicionar imagens deve-se atentar aos direitos de imagens <br>Vc pode usar sites como <b><a href="https://www.pexels.com/pt-br/" target="_blank" rel="noopener noreferrer">pexels</a> ou <b><a href="https://unsplash.com/pt-br" target="_blank" rel="noopener noreferrer">unsplash</a></b></b> <br>Lembrando de pesquisar em inglês
    </p>
    <p>Abaixo está uma imagem que se encontra na mesma pasta que o projeto</p>
    <img src="/projetos/img/logo html-120.png" alt="Logo html5">
    <img src="/projetos/img/logo css-120.webp" alt="Logo css3">
    <p>É importante lembrar de deixar as imagens com poucos kbytes <br>Para que seu site não fique lento</p>
    <h3>Também conseguimos mostrar uma imagem que possui um endereço de outra página</h3>
    <p>fica desta forma</p>
    <img src="https://cdn.iconscout.com/icon/free/png-256/free-javascript-3629449-3031512.png" alt="Logo javascript">
    <h1>ainda em imagens</h1>
    <p>usando icones no cabeçalho do site</p>
    <h3><a href="https://favicon.io/" rel="external noopener noreferrer nofollow" target="_blank">Favcom</a></h3>
</body>
</html>