<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Locais/Internos</title>
    <style>
        body{
    background-color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
            }
        h1{
    color:darkblue;
        }
        h2{
    color:darkred;
            }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
    <p><a href="../../aulas.html" target="_self" rel="prev">Voltar</a></p>
    <h1>Capitulo 1</h1>
    <h2>Capitulo 1.1</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit laborum corrupti adipisci, repellat placeat cupiditate. Quaerat, harum molestiae, velit atque commodi, dolorem temporibus minima quod eius laboriosam blanditiis nihil officia.</p>
    <h2>capitulo 1.2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor veritatis cum quis molestias omnis eos, vero, ex et sit iure nihil facilis quasi neque suscipit perspiciatis rem dignissimos eveniet sapiente?</p>
    <h1>Capitulo 2</h1>
    <h2>Capitulo 2.1</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit laborum corrupti adipisci, repellat placeat cupiditate. Quaerat, harum molestiae, velit atque commodi, dolorem temporibus minima quod eius laboriosam blanditiis nihil officia.</p>

    <p>Este método é interessante para uma página em que você n utilizara o mesmo css para outras páginas</p>

    <p><a href="pagina02.html">Ir para página 02</a> - Trabalhando com CSS externo</p>
    
</body>
</html>