<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeos em HTML5</title>
</head>
<body>
    <p><a href="/aulas" target="_self" rel="prev">Voltar</a></p>
    <!--Assim como áudio os vídeos tbm podem não ser baixados por navegadores diferentes por causa de seus formatos, a maioria dos navegadores aceitam (MP4,M4V.WEBM) mas outros aceitam mais ou só aceitam determinados tipos de arquivos de mídia como vídeo como (OGV)-->
    <h1>Inserindo vídeos hospedados localmente</h1>
    <p>Este vídeo está hospedado no meu próprio servidor</p>

    <!--Vou utilizar o mesmo esquema de audio para diversos navegadores poderem baixar meu vídeo-->
    <video width="500" poster="../../static/img/limoes-capa.png" controls loop> <!--Podemos utilizar posters com a tag poster para sua capa de video-->
        <source src="../../static/midia/meu-video.m4v" type="video/mp4">
        <source src="../../static/midia/Meu-Video.mp4" type="video/mp4">
        <source src="../../static/midia/meu-video.ogv" type="video/ogg">
        <source src="../../static/midia/Meu-Video.webm" type="video/webm">
        <p>Seu navegador não tem compatibilidade com o vídeo</p>
    </video>
    <p>Este vídeo consome o seu próprio serviço de hospedagem</p>
    <!--É crucial utilizar uma sequência para seu navegador baixar que seja do arquivo mais leve para o mais pesado, eu comecei com o arquivo que ficou mais leve, o m4v até o mais pesado q foi o webm. n necessáriamente vai ser sempre essa sequência. Mas, é necessário uma sequencia do menor para o maior,assim como vimos utilizando audios-->
    <h1>Inserindo Vídeos do Youtube</h1>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/5Lr10SSKLig?si=im_qIlUl-x2uFVgv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Este vídeo consome o serviço de hospedagem do youtube, <mark>o que é melhor para seu site</mark>.</p>
    <!--Para incorporar videos do yt no seu site é só clicar em compartilhar o vídeo e clicar em incorporar para copiar todo esse código acima.-->

    <h1>Inserindo Vídeos do Vimeo</h1>
    <iframe src="https://player.vimeo.com/video/80534363?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="500" height="209" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" title="&quot;Get a Horse!&quot; CG Animation Reel - Andrew Chesworth"></iframe>
    <p>Este vídeo consome o serviço de hospedagem do Vimeo, <mark>o que é melhor para seu site</mark>.</p>
    <p>Os vídeos do vimeo é bom pois não aparece outros videos quando se pausa o player, uq é muito bom como forma de marketing apenas para seu vídeo.</p>
</body>
</html>