<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhando com links</title>
</head>
<body>
    <p><a href="/aulas" target="_self" rel="prev">Voltar</a></p>
    <h1>Usando links externos</h1>
    <p>Você pode acessar o meu <a href="https://github.com/SHEILONG11" target="_blank" rel="external"">repositório público no meu git hub</a></p>
    <p>Para abrir o meu repositório em outra página em branco, podemos usar depois da tag <mark>a</mark> o <code>target="_blank"</code> que indica uma nova pagina em branco; <br>E logo após o <code>rel="external"</code> para indicar que é um link externo,ou seja fora do meu site. </p>
    <p><mark>É recomendado usar links externos para algum site que n seja seu. E pra outras abas do seu site,ou algo parecido, não precisa-se usar link externos que abram outra aba do seu site.</mark> </p>   
     <ul>
        <li><a href="livros/Carl_Sagan_Cosmos_Companhia_das_Letras_21.pdf" download="cosmos.pdf" type="application/pdf">Baixar o livro em PDF</a></li>
        <li><a href="livros/Carl_Sagan_Cosmos_Companhia_das_Letras_21.zip"  download="cosmos.zip" type="application/zip">Livro compactado em ZIP</a></li>
     </ul>
</body>
</html>