<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="shortcut icon" href="../static/shortcut/favicon-insta.ico" type="image/x-icon">
</head>
<body>
    <div id="container">
        <header>
                <ul>
                    <li>
                        <a href="/" target="_self"> Sobre mim</a>
                    </li>
                    <li>
                        <a href="/project" target="_self" rel="next"> Projetos</a>
                    </li>
                    <li>
                        <a href="#" target="_self" rel="next"> Contato</a>
                    </li>
                </ul>
            </header>
        
            <main>
                <div id="socialmidia">
                    <div class="elementos">
                        <a href="https://www.instagram.com/ljblues_/" target="_blank" rel="external noopener norefere nofollow">
                        <img src="https://i.pinimg.com/originals/ff/5a/e7/ff5ae72f423c7a1a2e6daf347ff1b5e2.jpg" alt="logo-insta"><p>Instagram</p></a></div>
                    <div class="elementos">
                        <a href="https://www.linkedin.com/login/pt?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin" target="_blank" rel="external noopener norefere nofollow">
                        <img src="../static/img/linkedin logo.png" alt="logo-linkedin"><p>Linkedin</p></a></div>
                    <div class="elementos">
                        <a href="https://mail.google.com/mail/u/0/?ogbl#search/rosalenildo833%40gmail.com" target="_blank" rel="external noopener norefere nofollow">
                        <img src="https://e7.pngegg.com/pngimages/882/143/png-clipart-angle-text-brand-gmail-gmail-icon-illustration-angle-text-thumbnail.png" alt="logo-email"><p>E-mail</p></a></div>
                    <!--Elemento do modal-->
                    <div class="elementos">
                        <a href="#modal-telefone" class="telefone-link" target="_self" rel="next">
                        <img src="https://images.vexels.com/media/users/3/205069/isolated/preview/f207045d96c258fed664305f0ac2c5bd-icone-azul-do-monofone-do-telefone.png" alt="logo-telefone"><p>Telefone</p></a>
                    </div>
                    
                        <div id="modal-telefone" class="modal">
                            <div class="modal-content">
                                <a href="#" class="close-button">Close</a>
                                <p>Meu número:+55 (83) 994153667</p>
                            </div>
                        </div>

                        
                </div>
            </main>
            
    </div>
    



</body>

</html>

