<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafios-Exercícios</title>
    <link rel="stylesheet" href="../static/css/aulas-exercicios.css">
</head>
<body>
    <div class="header">
        <p><a href="/modulo01" target="_self" rel="prev">Voltar</a></p>
    </div>
    <div class="corpo">
        <ul>
            <li class="elementos"><a href="/ex04">Emojis</a></li>
            <li class="elementos"><a href="/ex07">Imagem Flexível</a></li>
            <li class="elementos"><a href="/ex09">Mídias</a></li>
        </ul>
    </div>
</body>
</html>