<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/shortcut/favicon-bitzin.ico" type="image/x-icon">
    <title>Projetos</title>
    <link rel="stylesheet" href="../static/css/project.css">
</head>
<body>
        <div id="container">
            <header>
                <ul>
                    <li>
                        <a href="/" target="_self"> Sobre mim</a>
                    </li>
                    <li>
                        <a href="#" target="_self" rel="next"> Projetos</a>
                    </li>
                    <li>
                        <a href="/contact" target="_self" rel="next"> Contato</a>
                    </li>
                </ul>
            </header>
            <main>
                <ul id="projetos">
                    <li class="elementos">
                        <a href="/dogpage"><img src="../static/img/dogpage.png" alt="img dogpage"><h1>Dogpage</h1><p>Lading page</p></a>
                    </li>
                    <li class="elementos">
                        <a href="/formulario"><img src="../static/img/myforms.png" alt="img myforms"><h1>MySQL</h1><p>Formulário</p></a>
                    </li>
                </ul>
            </main>
            <div id="repositorios">
                <h1>Meus Repositórios</h1>
                <ul>
                    <li class="itens">
                        <a href="/modulo01" target="_self" rel="next"><h1>Repositório HTML,CSS</h1><p>Modulo01</p></a>
                    </li>
                </ul>
            </div>

        </div>
</body>
</html>
