<!DOCTYPE html>
<htm lang="ptbr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/dogpage.css">
    <link rel="icon" href="../../../static/shortcut/favicon dog.ico" type="image/x-icon">
    <title>Raças de Cachorros</title>
</head>

<body>

    <div class="navbar">
        <div class="logo">
            <a href="#">DOG</a>
        </div>
        <div class="search-bar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </div>
        <div id="voltar">
            <a href="/project">
                <p>Voltar</p>
            </a>
        </div>
    </div>

    <div class="corpo">
        <div class="header">
            <p>Bem vindo a página de Raças de <b>Cachorros</b></p>
        </div>

        <div class="container">

            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/pitbull/" target="_blank" rel="external noopener norefere"> <img src="../static/img/pitbull.jpg"/></a>
                <p>Pitbull</p>
            </div>
            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/vira-lata/" target="_blank" rel="external noopener norefere nofollow"><img src="../static/img/viralata.jpg" /></a>
                <p>Viralata</p>
            </div>
            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/pinscher/" target="_blank" rel="external noopener norefere nofollow"><img src="../static/img/pinche.jpg" /></a>
                <p>Pincher</p>
            </div>
            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/pastor-alemao/" target="_blank" rel="external noopener norefere nofollow"><img src="../static/img/pastor.jpg" /></a>
                <p>Pastor-Alemão</p>
            </div>
            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/dalmata/" target="_blank" rel="external noopener norefere nofollow"><img src="../static/img/dalmata.jpg" /></a>
                <p>Dalmata</p>
            </div>
            <div class="especie">
                <a href="https://www.petz.com.br/cachorro/racas/shih-tzu/" target="_blank" rel="external noopener norefere nofollow"><img src="../static/img/shitzu.jpg" /></a>
                <p>Shitzu</p>
            </div>
        </div>
    </div>
    
</body>
</html>