<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/myform.css">
    <title>Formulário de Dados Pessoais</title>
</head>
<body>
    
    <!-- EXIBIR MENSAGEM DE QUE ESTÁ OK, OU DE ERRO  -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="form-container">
        <header>
            <div id="header"><a href="/project"><h3>Voltar</h3></a></div>
        </header>
        <form action="/processar" method="POST">
            <fieldset>
                <legend>Formulário de Dados Pessoais</legend> 
                <br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome e sobrenome</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="email" id="email" class="inputUser" required>
                    <label for="nome" class="labelInput">Email</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                    <label for="telefone" class="labelInput">Telefone</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="sexo" id="sexo" class='inputUser' required>
                    <label for="sexo" class="labelInput">Sexo</label>
                </div>
                <br><br>

                <label for="idade"><b>Idade (Anos):</b> </label>
                <input type="date" name="idade" id="idade" required>
                <br><br>
                <button type="submit" id="submit">Enviar</button>
            </fieldset>
        </form>
        
        <div id="visualizar">
            <a href="/visualizar">Visualizar Dados Salvos</a>
        </div>
        
    
    </div>
</body>
</html>
