<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 04</title>
    <link rel="shortcut icon" href="../02/favicon.ico">
</head>
<body>
    <p><a href="/desafios" target="_self" rel="prev">Voltar</a></p>
    <!--Se não me engano preciso indicar q o valor é em hexa decimal e dpois colocar o valor do emoji tipo:  &#x-->
    <h1>Meus emojis favoritos</h1>
    <h2>Carinhas</h2>
        <ul> 
            <li><p>&#x1F923 Código: <code>U+1F923</code></p></li> 
            <li><p>&#x1F617 Código: <code>U+1F617</code></p></li>
            <li><p>&#x1F921 Código: <code>U+1F921</code></p></li>
        </ul>
    <h2>Mãos</h2>
        <ul>
            <li><p>&#x1F919 Código: <code>U+1F919</code></p></li>
            <li><p>&#x1F44D Código: <code>U+1F44D</code></p></li>
            <li><p>&#x270D  Código: <code>U+270D U+FE0F</code></p></li>
        </ul>
    <h2>Símbolos</h2>
        <ul>
            <li><p>&#x2764 Código: <code>U+2764</code></p></li>
            <li><p>&#x1F495 Código: <code>U+1F495</code></p></li>
            <li><p>&#x1F4A8 Código: <code>U+1F4A8</code></p></li>
        </ul>            

    <h3>Todos os emojis foram pegos da <a href="https://emojipedia.org/" target="_blank" rel="external">Emojipedia</a></h3>
</body>
</html>