<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 07</title>
    <link rel="shortcut icon" href="../02/favicon.ico">
</head>
<body>
    <p><a href="/desafios" target="_self" rel="prev">Voltar</a></p>
    <h1>Imagem Flexível</h1>
    <p>Você está vendo a imagem completa? Experimente ampliar o tamanho da janela para aproveitar a melhor experiência &#x1F92F</p>
    
    <picture>
        <source media="(min-width: 1150px)" srcset="../../static/img/paisagem-g.png" type="image/png">
        <source media="(min-width: 750px)" srcset="../../static/img/paisagem-m.png" type="image/png">
        <img src="../../static/img/paisagem-p.png" alt="Imagem Flexível">
    </picture>
</body>
</html>