<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Vídeos</title>
    <link rel="stylesheet" href="../../static/css/ex09.css">
</head>
<body>
    <header>
        <p><a href="/desafios" target="_self" rel="prev">Voltar</a></p>
        <h1>Vídeos legais para assistir</h1>
    </header>
    <div class="corpo">
        <nav>
            <picture>
                <div class="elementos">
                    <a href="/ex09/pagina01"><img src="../../static/img/img01.png" alt="img01"></a>
                </div>
                <div class="elementos">
                    <a href="/ex09/pagina02"><img src="../../static/img/img02.png" alt="img02"></a>
                </div>
                <div class="elementos">
                    <a href="/ex09/pagina03"><img src="../../static/img/img03.png" alt="img03"></a>
                </div>
                <div class="elementos">
                    <a href="/ex09/pagina04"><img src="../../static/img/img04.png" alt="img04"></a>
                </div>
            </picture>
        </nav>
    </div>

</body>
</html>