<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 03</title>
    <link rel="stylesheet" href="../../static/css/paginas.css">
</head>
<body>

    <div class="container">
        <header>
            <h1>Drift em TSUKUBA</h1>
        </header>
        <main>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NmnRkwnKbbA?si=022CwC_BbQ4gX_8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        </main>
        <a href="https://youtu.be/NmnRkwnKbbA" target="_blank" rel="external noopener noreferrer">
            <p>Veja o vídeo completo no youtube</p>
        </a>
        <footer>
            <picture>
                <a href="/ex09"><img src="../../static/img/voltar.png" alt="ceta-voltar"></a>
            </picture>
        </footer>
    </div>
</body>
</html>